<h1>Hello {{title}}</h1>
<h1>{{data}}</h1>
<!-- This title and data is comming fom app.compenent.ts file
This is called Dynamic Data which is  going to app.component.html
}-->
<!-- What is Interpolation ?

Interpolation in angular refers to a technique of dynamically
generating content in an Angular application by using template
expressions. Angular interpolation allows you to bind a component's
properties or variables to its template, allowing you to dynamically
render values in the view. -->

<h1> {{getValue()}}</h1>
<h1> {{2+2}}</h1> <!--Output is 4 (This interpolation is also run as javascript Math) -->
<h1> 2+2</h1>  <!--output is 2+2 -->

<h1> {{title =='AngularBlog'}}</h1>
<h1> {{title =='Blog'}}</h1>

<!-- You can also use  as a class -->
<h1 class={{title}}>This is Class </h1>

<!-- What we can not do with Interpolation
1. We can not do increment and decrement
2. We can not add new Key word
3. We can not assign new value for variable  -->


<!-- What is CLI
Command Line Interface
For more information visit Angular CLI Document  -->
<app-login></app-login>
<app-sign-in></app-sign-in>
<app-sign-up></app-sign-up>



<h1> Called Function to click this button given below</h1>
<button (click)="getFunction()">Click me </button>
<button (click)="getName('name')">Click me for name </button>
<button (click)="getNumber('numbers')">Click here to get number</button>
